<div style="text-align: center;">
    <mat-toolbar>
        <span>Employee Form</span>
    </mat-toolbar>
</div>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="empForm" (ngSubmit)="submit()">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="First name" name="fname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Last Name" name="lname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" placeholder="Phone" name="phone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <section class="example-section">
                <label class="example-margin">Office:</label>
                <mat-radio-group formControlName="officeId">
                    <mat-radio-button class="example-margin" value="16">Riga</mat-radio-button>
                    <mat-radio-button class="example-margin" value="17">Tallinn</mat-radio-button>
                    <mat-radio-button class="example-margin" value="18">Vilnius</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-card-actions>
                <button mat-raised-button type="submit" [disabled]= "disabled" color="primary">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
   
</mat-card>
