<div style="text-align: center;">
    <mat-toolbar>
        <span>Tag Form</span>
    </mat-toolbar>
</div>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="tagForm" (ngSubmit)="submit()">
            <mat-form-field class="full-width">
                <mat-label>Select Employee</mat-label>
                <mat-select (selectionChange)="employeeSelecttion($event)">
                    <mat-option *ngFor="let emp of employees" [value]="emp.id">
                      {{emp.firstName}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Tag</mat-label>
                <input matInput formControlName="tag" placeholder="Tag text" name="tag" required>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>